---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Exam Prep: AWS CCP">
    <section id="register">
        <div class="flex-container">
            <div class="left">
                <h5 class="exam">AWS Exam Prep</h5>
                <h2>
                    Certified Cloud Practitioner
                </h2>
                <p class="description">
                    This course offers a foundational understanding of cloud computing by exploring Amazon Web Services (AWS), a leading cloud provider. You'll learn essential cloud concepts and core AWS services, empowering you to communicate effectively with technical teams and make informed decisions about cloud technology.
                </p>
                <p class="description">
                    The course content has been created to directly align with the AWS Certified Cloud Practitioner exam guide, equipping you with the necessary knowledge to confidently pass the exam on your first attempt should you choose to pursue certification.
                </p>
                <div class="promo">
                    <div class="video-wrapper">
                        <p><iframe style="position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 100%; border: none;" src="https://www.youtube.com/embed/l2JqPVdiOmA?si=AOW_k5SVB2497Mhs" width="560" height="315" rel="0" frameborder="0" iv_load_policy="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></p>
                    </div>
                </div>
                <h4>Upcoming Classes</h4>
                <ul>
                    <li>May 3rd & 4th: 8am - 12pm (AEST) on Zoom.</li>
                </ul>
                <h4>Who's This For?</h4>
                <ul>
                    <li>
                        System administrators, network engineers, or developers aiming to validate their cloud skills and advance their careers with AWS certification.
                    </li>
                    <li>
                        Project managers, sales representatives, or analysts needing a foundational understanding of AWS for better project management and decision-making.
                    </li>
                    <li>
                        Sales, marketing, or support staff working with cloud-focused teams who want to improve communication and collaboration.
                    </li>
                    <li>
                        Individuals looking to transition into a cloud-focused role from a different industry or field, seeking foundational AWS knowledge.
                    </li>
                    <li>
                        College students or recent graduates in IT-related fields seeking a competitive edge in the job market through industry-recognized certification.
                    </li>
                </ul>
                <h4>Prerequisites and Materials</h4>
                <p>There are no prerequisites for taking this course. You'll also be provided with the course deck which includes the slides, practice questions, activities and links to all materials referenced during the course.</p>
                <h4>Instructor Credentials</h4>
                <p>This course is delivered by Garret Blankenship who is an AWS accredited instructor and has 14 years experience in industry with several AWS certifications.</p>
                <div class="credentials">
                    <div id="cred-1"></div>
                    <div id="cred-2"></div>
                    <div id="cred-3"></div>
                    <div id="cred-4"></div>
                    <div id="cred-5"></div>
                </div>
            </div>
            <div class="right">
                <iframe
                src="https://api.leadconnectorhq.com/widget/form/pYXIs6qvCjF2pqH5Zniz"
                style="width:100%;height:100%;border:none;border-radius:3px"
                id="inline-pYXIs6qvCjF2pqH5Zniz"
                data-layout="{'id':'INLINE'}"
                data-trigger-type="alwaysShow"
                data-trigger-value=""
                data-activation-type="alwaysActivated"
                data-activation-value=""
                data-deactivation-type="neverDeactivate"
                data-deactivation-value=""
                data-form-name="AWS Cloud Practitioner"
                data-height="1834"
                data-layout-iframe-id="inline-pYXIs6qvCjF2pqH5Zniz"
                data-form-id="pYXIs6qvCjF2pqH5Zniz"
                title="AWS Cloud Practitioner"
                    >
                </iframe>
                <script src="https://link.msgsndr.com/js/form_embed.js"></script>
            </div>
        </div>
    </section>
</Layout>

<style>
    section#register {
        padding: 0px 14px;
    }

    section#register div.flex-container {
        display: flex;
        border-radius: 40px;
        padding: 20px 24px;
        flex-direction: column;
        border: 2px solid #d2d2d2;
    }

    section#register div.flex-container > div {
        width: 100%;
    }

    section#register div.left {
        padding: 44px 4px;
    }

    section#register div.left h2 {
        margin-bottom: 56px;
    }

    section#register div.left h5 {
        margin-bottom: 40px;
    }

    section#register div.left h4 {
        margin-bottom: 40px;
        margin-top: 60px;
    }

    section#register div.left p.description {
        margin-bottom: 56px;
    }

    section#register div.left ul li {
        padding: 10px 0 10px 10px;
    }

    section#register div.right {
        border-radius: 20px;
        overflow: hidden;
        padding: 4px;
    }

    section#register .promo {
        width: 100%;
        min-width: 200px;
        max-width: 800px;
    }

    section#register .promo .video-wrapper {
        position: relative;
        width: 100%;
        overflow: hidden;
        padding-top: 58%;
    }

    section#register .credentials {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
    }

    section#register .credentials  div {
        width: 140px;
        height: 140px;
        margin: 10px 10px 0 10px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    section#register .credentials  div#cred-1{
        background-image: url(../assets/10.png);
    }

    section#register .credentials  div#cred-2{
        background-image: url(../assets/11.png);
    }

    section#register .credentials  div#cred-3{
        background-image: url(../assets/12.png);
    }

    section#register .credentials  div#cred-4{
        background-image: url(../assets/13.png);
    }

    section#register .credentials  div#cred-5{
        background-image: url(../assets/14.png);
    }

    @media only screen and (min-width:1000px) {
        section#register {
            padding: 0px 44px;
        }

        section#register div.flex-container {
            flex-direction: row;
        }

        section#register div.flex-container > div {
            width: 50%;
        }

        section#register div.left {
            padding: 44px;
        }

        section#register div.right {
            padding: 44px;
        }
    }
</style>