---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="GenAI For Business Leaders">
    <section id="register">
        <div class="flex-container">
            <div class="left">
                <h5 class="intro">Practical Introduction</h5>
                <h2>
                    GenAI For Business Leaders
                </h2>
                <p class="description">
                    Generative AI is reshaping business, and this intensive course equips senior leaders (C-Suite, VPs, Directors, Owners, Board Members) to move beyond the hype and harness it for tangible advantage. You'll demystify the technology (including LLMs and Foundation Models), understand its real capabilities, and grasp its strategic implications, ensuring you know how it works and why it matters for your organization's future.
                </p>
                <p class="description">
                    Move quickly from potential to action by pinpointing "quick wins" for rapid deployment while gaining the confidence to navigate critical risks like data privacy, accuracy, bias, IP, and regulations. Learn to implement effective governance for secure employee AI use, foster AI-driven innovation, and future-proof your organization.
                </p>
                <!-- <div class="promo">
                    <div class="video-wrapper">
                        <p><iframe style="position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 100%; border: none;" src="https://www.youtube.com/embed/l2JqPVdiOmA?si=AOW_k5SVB2497Mhs" width="560" height="315" rel="0" frameborder="0" iv_load_policy="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></p>
                    </div>
                </div> -->
                <h4>Upcoming Classes</h4>
                <ul>
                    <li>June 13th: 9am - 1pm (AEST) on Zoom.</li>
                </ul>
                <h4>Who's This For?</h4>
                <ul>
                    <li>
                        C-suite Executives, Board Members, and Business Owners should attend to grasp GenAI's strategic implications for informed investment decisions, align initiatives with business goals, and learn to oversee critical enterprise-wide risks like data privacy, IP, and regulatory compliance.
                    </li>
                    <li>
                        Vice Presidents (VPs) and Directors should attend to identify high-impact GenAI "quick wins" within their domains and develop strategic implementation plans. This course equips them to lead departmental adoption effectively while managing risks and ensuring alignment with company strategy.
                    </li>
                    <li>
                        Heads of Departments (e.g., Marketing, Sales, HR, IT) will discover practical GenAI applications to enhance team productivity, contribute valuable use cases, implement safe usage policies, and manage functional-level risks effectively by attending this course.
                    </li>
                    <li>
                        Any Senior Leader involved in Strategy, Innovation, or Operations should attend for a foundational GenAI understanding necessary to assess its potential impact and evaluate opportunities. They will learn the critical importance of governance, risk mitigation, and preparing for future AI developments.
                    </li>
                </ul>
                <h4>Prerequisites and Materials</h4>
                <p>There are no prerequisites for taking this course. You'll also be provided with the course deck which includes the slides, activities and links to all materials referenced during the course.</p>
                <h4>Instructor Credentials</h4>
                <p>This course is delivered by Garret Blankenship who  is a seasoned software engineer, technical trainer, and learning designer with a strong background in the tech industry. He has worked in both engineering and education roles for over 14 years, helping teams develop the skills needed to navigate an ever-evolving tech landscape. He specializes in making complex concepts clear, practical, and engaging.</p>
                <h4>Agenda</h4>
                <p class="description">For more details download the course agenda as a PDF.</p>
                <a href="/agenda/genai-business-leaders-intro.pdf" target="_blank">Download Agenda</a>
            </div>
            <div class="right">
                <iframe
                src="https://api.leadconnectorhq.com/widget/form/HIwabQTXAHM8UVbXERst"
                style="width:100%;height:100%;border:none;border-radius:3px"
                id="inline-HIwabQTXAHM8UVbXERst" 
                data-layout="{'id':'INLINE'}"
                data-trigger-type="alwaysShow"
                data-trigger-value=""
                data-activation-type="alwaysActivated"
                data-activation-value=""
                data-deactivation-type="neverDeactivate"
                data-deactivation-value=""
                data-form-name="Gen AI for business leaders"
                data-height="1593"
                data-layout-iframe-id="inline-HIwabQTXAHM8UVbXERst"
                data-form-id="HIwabQTXAHM8UVbXERst"
                title="Gen AI for business leaders"
                    >
                </iframe>
                <script src="https://link.msgsndr.com/js/form_embed.js"></script>
            </div>
        </div>
    </section>
</Layout>

<style>
    section#register {
        padding: 0px 14px;
    }

    section#register div.flex-container {
        display: flex;
        border-radius: 40px;
        padding: 20px 24px;
        flex-direction: column;
        border: 2px solid #d2d2d2;
    }

    section#register div.flex-container > div {
        width: 100%;
    }

    section#register div.left {
        padding: 44px 4px;
    }

    section#register div.left h2 {
        margin-bottom: 56px;
    }

    section#register div.left h5 {
        margin-bottom: 40px;
    }

    section#register div.left h4 {
        margin-bottom: 40px;
        margin-top: 60px;
    }

    section#register div.left p.description {
        margin-bottom: 56px;
    }

    section#register div.left ul li {
        padding: 10px 0 10px 10px;
    }

    section#register div.right {
        border-radius: 20px;
        overflow: hidden;
        padding: 4px;
    }

    section#register .promo {
        width: 100%;
        min-width: 200px;
        max-width: 800px;
    }

    section#register .promo .video-wrapper {
        position: relative;
        width: 100%;
        overflow: hidden;
        padding-top: 58%;
    }

    section#register .credentials {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
    }

    section#register .credentials  div {
        width: 140px;
        height: 140px;
        margin: 10px 10px 0 10px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    section#register .credentials  div#cred-1{
        background-image: url(../assets/10.png);
    }

    section#register .credentials  div#cred-2{
        background-image: url(../assets/11.png);
    }

    section#register .credentials  div#cred-3{
        background-image: url(../assets/12.png);
    }

    section#register .credentials  div#cred-4{
        background-image: url(../assets/13.png);
    }

    section#register .credentials  div#cred-5{
        background-image: url(../assets/14.png);
    }

    @media only screen and (min-width:1000px) {
        section#register {
            padding: 0px 44px;
        }

        section#register div.flex-container {
            flex-direction: row;
        }

        section#register div.flex-container > div {
            width: 50%;
        }

        section#register div.left {
            padding: 44px;
        }

        section#register div.right {
            padding: 44px;
        }
    }
</style>